[Desktop Entry]
Type=Application
Version=1.0
Name=Baka-MPlayer
GenericName=Media player
Comment=Baka MPlayer is a free and open source, cross-platform, **libmpv** based multimedia player.
Icon=baka-mplayer
Exec=baka-mplayer %u
Terminal=false
Categories=AudioVideo;Video;
