[Desktop Entry]
Type=Application
Version=1.0
Name=Baka-MPlayer
Name[hr]=Baka MPlayer
GenericName=Media player
GenericName[hr]=Medijski reproduktor
Comment=Baka MPlayer is a free and open source, cross-platform, **libmpv** based multimedia player.
Comment[hr]=Baka MPlayer je slobodan i otvorenog kôda, višeplatformski, **libmpv** temeljen reproduktor.
Icon=baka-mplayer
Exec=baka-mplayer %u
Terminal=false
Categories=AudioVideo;Video;
