[Desktop Entry]
Type=Application
Version=2.0.0
Name=Baka-MPlayer
Comment=Baka MPlayer is a free and open source, cross-platform, **libmpv** based multimedia player.
Exec=baka-mplayer
Icon=baka-mplayer
Terminal=false
Categories=AudioVideo;Audio;Video;
