/* Baka MPlayer site stylesheet

   Author: Joshua Park
*/

nav a[href="/help/"] {
    background: #222222;
}
@media all and (max-width: 550px) {
    nav a[href="/help/"] {
        background: #008098;
    }
}

#jumbotron {
    padding: 0;
}